<div class="content" role="main">

  <div class="card-container">

    <div class="card">
      <div class="card-icon">
        <img src="assets/icon/pending-orders.svg" alt="agent-icon" srcset="">
      </div>

      <div class="card-text-section">
        <h1 class="card-count">{{0 | number: '1.0-0'}}</h1>
        <span class="card-text">Pending Orders</span>
      </div>
    </div>

    <div class="card">
      <div class="card-icon">
        <img src="assets/icon/visitors.svg" alt="agent-icon" srcset="">
      </div>

      <div class="card-text-section">
        <h1 class="card-count">{{0 | number: '1.0-0'}}</h1>
        <span class="card-text">Today's visitors</span>
      </div>
    </div>

    <div class="card">
      <div class="card-icon">
        <img src="assets/icon/stock.svg" alt="agent-icon" srcset="">
      </div>

      <div class="card-text-section">
        <h1 class="card-count">{{0 | number: '1.0-0'}}</h1>
        <span class="card-text">Items in Stock</span>
      </div>
    </div>

    <div class="card">
      <div class="card-icon">
        <img src="assets/icon/total-sales.svg" alt="agent-icon" srcset="">
      </div>

      <div class="card-text-section">
        <h1 class="card-count">{{0 | number: '1.0-0'}}</h1>
        <span class="card-text">Total Sales</span>
      </div>
    </div>
  </div>


  <div class="card-bigger">
    <div class="terminal" style="margin-top: 1rem;">
      <div class="terminal-title">
        <p>Store/Product performance</p>
      </div>
      <div class="date-filter">
        <div class="date-filter-left">
          Dec 16- Dec 23
        </div>
        <div class="date-filter-right">
          <div>
            Daily
          </div>
          <div>
            Weekly
          </div>
          <div>
            Monthly
          </div>
        </div>
      </div>
      <div id="chartdiv" style="width: 100%; height: 335px;"></div>
    </div>

    <div class="terminal" style="margin-top: 1rem;">
      <div class="terminal-title">
        <p>Recent buyers</p>
      </div>

      <div class="recent-buyers">
        <div class="recent-buyers-left">
          <img src="assets/img/store-profile.png" alt="" srcset="">
        </div>
        <div class="recent-buyers-middle">
          <span style="font-weight: 550;">
            Saint Morris
          </span>
          <span>
            <span style="color: #06B025;">Product:</span> 2019 New Design light Sneakers Mesh Latest Men Sport Shoes
          </span>
        </div>
        <div class="recent-buyers-right">
          <img src="assets/icon/message.svg" alt="" srcset="">
          <span>
            Chat Buyer
          </span>
        </div>
      </div>

      <div class="recent-buyers">
        <div class="recent-buyers-left">
          <img src="assets/img/store-profile.png" alt="" srcset="">
        </div>
        <div class="recent-buyers-middle">
          <span style="font-weight: 550;">
            Apostle Ben
          </span>
          <span>
            <span style="color: #06B025;">Product:</span> Fashion Women PU Leather Messenger Handbag Shoulder B…
          </span>
        </div>
        <div class="recent-buyers-right">
          <img src="assets/icon/message.svg" alt="" srcset="">
          <span>
            Chat Buyer
          </span>
        </div>
      </div>

      <div class="recent-buyers">
        <div class="recent-buyers-left">
          <img src="assets/img/store-profile.png" alt="" srcset="">
        </div>
        <div class="recent-buyers-middle">
          <span style="font-weight: 550;">
            Eugene Investor
          </span>
          <span>
            <span style="color: #06B025;">Product:</span> New ladies mini bucket bag female shoulder slung Bad shaker...
          </span>
        </div>
        <div class="recent-buyers-right">
          <img src="assets/icon/message.svg" alt="" srcset="">
          <span>
            Chat Buyer
          </span>
        </div>
      </div>

      <div class="recent-buyers">
        <div class="recent-buyers-left">
          <img src="assets/img/store-profile.png" alt="" srcset="">
        </div>
        <div class="recent-buyers-middle">
          <span style="font-weight: 550;">
            Obai Gang 🤙
          </span>
          <span>
            <span style="color: #06B025;">Product:</span> Samsung Galaxy Note 10+ Plus 5G (512GB/12GB, Tel) - Aura …
          </span>
        </div>
        <div class="recent-buyers-right">
          <img src="assets/icon/message.svg" alt="" srcset="">
          <span>
            Chat Buyer
          </span>
        </div>
      </div>

    </div>
  </div>


  <div class="card-bigger">
    <div class="terminal" style="margin-top: 1rem;">
      <div class="terminal-title">
        <p>Store details</p>
      </div>

      <div class="store">
        <div class="top-store-details">
          <div class="top-store-details-left">
            <img src="assets/img/store-profile@2x.png" alt="" srcset="">
            <img src="assets/icon/verified.svg" alt="" srcset="">
          </div>

          <div class="top-store-details-middle">
            <span>Saint Morris & Sons hoodlums Store</span>
            <span>
              Hoodlum is a 1997 American crime drama film that gives a fictionalized account of the gang war between
              the Italian/Jewish mafia alliance and the black gangsters of Harlem that took place in the late 1920s and
              early 1930s.
            </span>
          </div>

          <div class="top-store-details-right">
            <img src="assets/icon/edit-square.svg" alt="" srcset="">
          </div>
        </div>

        <div class="middle-store-details">
          <div class="middle-store-details-main">

            <div>
              <span>
                50
              </span>
              <span>
                SUCCESSFUL SALES
              </span>
            </div>

            <div>
              <span>
                50
              </span>
              <span>
                SUCCESSFUL SALES
              </span>
            </div>

            <div>
              <span>
                50
              </span>
              <span>
                SUCCESSFUL SALES
              </span>
            </div>

          </div>
        </div>

        <div class="middle-store-details" style="margin-top: 15px;">
          <div class="store-details-progress">
            <div>
              <span>PRODUCT QUALITY</span>
              <span class="progress-bar">
                <progress max="100" value="23"></progress>
              </span>
              <span>23%</span>
            </div>

            <div>
              <span>DELIVERY RATE</span>
              <span class="progress-bar">
                <progress max="100" value="69"></progress>
              </span>
              <span>69%</span>
            </div>

            <div>
              <span>COMMUNICATION</span>
              <span class="progress-bar">
                <progress max="100" value="89"></progress>
              </span>
              <span>89%</span>
            </div>
          </div>
        </div>

      </div>

    </div>

    <div class="terminal" style="margin-top: 1rem;">
      <div class="terminal-title">
        <p>Best selling items</p>
      </div>

      <div style="margin-top: 1rem;">

      <div class="best-selling">
        <div class="best-selling-row">
          <div class="best-selling-row-left">
            <img src="assets/img/air-max.png" alt="" srcset="">
          </div>

          <div class="best-selling-row-right">
            <div class="best-selling-row-right-top">
               <p>Nike Air Max 2090 - Limited Edition 2021</p>
            </div>

            <div class="best-selling-row-right-bottom">
              <div>
                 <p>Sold</p>
                 <p>20,000</p>
              </div>
              <div>
                <p>Sold</p>
                <p>20,000</p>
              </div>
            </div>
          </div>
        </div>

        <div class="best-selling-row">
          <div class="best-selling-row-left">
            <img src="assets/img/bag2.png" alt="" srcset="">
          </div>

          <div class="best-selling-row-right">
            <div class="best-selling-row-right-top">
               <p>Nike Air Max 2090 - Limited Edition 2021</p>
            </div>

            <div class="best-selling-row-right-bottom">
              <div>
                 <p>Sold</p>
                 <p>20,000</p>
              </div>
              <div>
                <p>Sold</p>
                <p>20,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="best-selling">
        <div class="best-selling-row">
          <div class="best-selling-row-left">
            <img src="assets/img/bag.png" alt="" srcset="">
          </div>

          <div class="best-selling-row-right">
            <div class="best-selling-row-right-top">
               <p>Nike Air Max 2090 - Limited Edition 2021</p>
            </div>

            <div class="best-selling-row-right-bottom">
              <div>
                 <p>Sold</p>
                 <p>20,000</p>
              </div>
              <div>
                <p>Sold</p>
                <p>20,000</p>
              </div>
            </div>
          </div>
        </div>

        <div class="best-selling-row">
          <div class="best-selling-row-left">
            <img src="assets/img/phone-touch.png" alt="" srcset="">
          </div>

          <div class="best-selling-row-right">
            <div class="best-selling-row-right-top">
               <p>Nike Air Max 2090 - Limited Edition 2021</p>
            </div>

            <div class="best-selling-row-right-bottom">
              <div>
                 <p>Sold</p>
                 <p>20,000</p>
              </div>
              <div>
                <p>Sold</p>
                <p>20,000</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    </div>
  </div>


</div>
