<body>
  <div class="container">
    <nav>
      <span>
        <img src="../../../../assets/img/KG-sellers-hub-logo.svg" alt="Logo" />
      </span>
      <span class="right">
        <span class="navi"> kaiglo Express </span>
        <span class="navi"> Learning Center </span>
        <div class="register">
          Register
        </div>
      </span>
    </nav>
    <header class="header">
      <div class="headertext">
        <h1>Join the No.1 </h1>
        <h1>Ecommerce </h1>
        <h1>Platform in Nigeria</h1>
        <p style="color: #FFFFFF; text-align: left;
          font: normal normal normal 18px/26px Gotham;
          letter-spacing: 0px;
          opacity: 1;">Start making money now, it's easy and free</p>
        <div [routerLink]="['/dashboard']" class="but" style="color: #F8F8F8; cursor: pointer;">Become a Seller</div>
      </div>

    </header>
    <main>
      <section class="about">
        <span class="word">
          <h1>How it works</h1>
          <p>
            Become a member on the SellersHub platform by creating an account either using your social media account or
            email account. Proceed to create store and begin upload of store details, then await your dashboard where
            items can be uploaded and all inventory managed.
          </p>
        </span>
        <div class="head">
          <span class="heads">
            <img src="../../../../assets/img/become_member.svg" alt="">
            <span>
              <h3 style="color: #161616;">Become a member</h3>
              <p style="color: #727272;">Sign up to sell on SellersHub and reach millions of potential customers.</p>
            </span>

          </span>

          <span class="heads">
            <img src="assets/img/verify_acc.svg" alt="">
            <span>
              <h3 style="color: #161616;">Upload product</h3>
              <p style="color: #727272;">Click on the verification link sent to you to confirm your registration</p>
            </span>
          </span>

          <span class="heads">
            <img src="assets/img/start-selling.svg" alt="">
            <span>
              <h3 style="color: #161616;">Start Selling</h3>
              <p style="color: #727272;">Upload your products and start selling!</p>
            </span>
          </span>

          <img style="position: absolute; left: 8rem; top: 21rem;" src="../../../../assets/img/circle-artifacts.svg"
            alt="">
          <img style="position: absolute; left: 11rem;top: 32rem; z-index: -1;"
            src="../../../../assets/img/ring-artifacts.svg" alt="">
          <img style="position: absolute; right: 5rem; top: 30rem; z-index: -1; height: 30rem;"
            src="../../../../assets/img/swirle-libe.svg" alt="">
          <img style="position: absolute; left: 25rem; bottom: -1rem; z-index: -1;"
            src="../../../../assets/img/Polygon 1.svg" alt="">
        </div>
      </section>
    </main>
    <main>
      <section class="second">
        <span class="word">
          <h1>Why choose SellersHub</h1>
          <p>
            SellersHub provides the right platform for sellers to promote their brand and store online, allowing them to
            have personalized interaction with potential buyers.
          </p>
        </span>
        <div class="details">
          <span class="span1">

            <span class="list lefted">
              <span class="inner-text">
                <span>Market Coverage</span>
                <span>
                  we understand your need to reach a broader consumer base and make smoother sales and huge profits
                </span>
              </span>
              <div class="icon"><img src="../../../../assets/img/market-coverage.svg" alt=""></div>
            </span>

            <span class="list lefted">
              <span class="inner-text">
                <span>Trade Experience </span>
                <span>
                  we understand your need to reach a broader consumer base and make smoother sales and huge profits
                </span>
              </span>
              <div class="icon"><img src="../../../../assets/img/Trade-experience.svg" alt=""></div>
            </span>

            <span class="list lefted">
              <span class="inner-text">
                <span>Easy of transaction</span>
                <span>
                  we understand your need to reach a broader consumer base and make smoother sales and huge profits
                </span>
              </span>
              <div class="icon"><img src="assets/img/easy-of-transaction.svg" alt=""></div>
            </span>
          </span>

          <span class="span2">
            <img style="height: 35rem;" src="../../../../assets/img/mobile-home@2x.png" alt="">
          </span>

          <span class="span3">
            <span class="list">
              <div class="iconed"><img src="assets/img/brand-rec.svg" alt=""></div>
              <span class="inner-text">
                <span> Brand recognition</span>
                <span> Do you yearn for a platform where your brand image can be improved and recognized.
                </span>
              </span>
            </span>

            <span class="list">
              <div class="iconed"><img src="assets/img/market-insight.svg" alt=""></div>
              <span class="inner-text">
                <span>Market Insight</span>
                <span>SellersHub ensures that you can monitor your sales annually.
                </span>
              </span>
            </span>

            <span class="list">
              <div class="iconed"><img src="assets/img/efficiency.svg" alt=""></div>
              <span class="inner-text">
                <span>Efficient & trustworthy</span>
                <span>Issue of quality and efficient service delivery is our watch word at SellersHub.</span>
              </span>
            </span>

          </span>
        </div>
      </section>
    </main>
    <main>
      <section class="third">
        <span class="thirdtext">
          <h1 style="color: #151716;">Successful stories</h1>
        </span>
        <div style="position: relative;" class="thirdcard">
          <Span class="dark"></Span>
          <Span style="position: relative;" class="light">
            <span class="content">
              <div
                style="width: 100px; height: 30px; background-color: #02796F; color: #FFFFFF; display: flex; justify-content: center; align-items: center;">
                Store Owner
              </div>
              <h3 style="color: #161616;">My Story</h3>
              <p style="margin-top: -20px;">Ever since I joined kaiglo, I have experienced improved sales due to their
                market insight data.</p>
              <h3 style="color: #161616;">ObinnaBoss</h3>
              <p style="color: #02796F; margin-top: -20px;">CEO (ObinnaBoss Fashion)</p>
              <div style="display: flex; gap: 5px;">
                <div
                  style="width: 15px; height: 15px; background-color: #DFDFDF; margin-top: -10px; border-radius: 50%;">
                </div>
                <div
                  style="width: 15px; height: 15px; background-color: #DFDFDF; margin-top: -10px; border-radius: 50%;">
                </div>
                <div
                  style="width: 15px; height: 15px; background-color: #FFB300; margin-top: -10px; border-radius: 50%;">
                </div>
                <div
                  style="width: 15px; height: 15px; background-color: #DFDFDF; margin-top: -10px; border-radius: 50%;">
                </div>
                <div
                  style="width: 15px; height: 15px; background-color: #DFDFDF; margin-top: -10px; border-radius: 50%;">
                </div>
              </div>
            </span>
            <img style="height: 12rem; position: absolute; margin-left: -6rem; margin-top: 35px;"
              src="../../../../assets/img/seller-obinnapro@2x.png" alt="">
            <img style="bottom: 10px; right: 10px; position: absolute;"
              src="../../../../assets/img/bxs-right-arrow-circle.svg" alt="">
          </Span>
        </div>
      </section>
    </main>
    <div class="info">
      <span class="info1">
        <h3 style="color: #02796F;">Company information</h3>
        <p>Contact Us</p>
        <p>Terms and Conditions</p>
        <p>Privacy Policy</p>
        <p>About Us</p>
      </span>
      <span class="info2">
        <h3 style="color: #02796F;">Customer Service</h3>
        <p>Shipping & Delivery</p>
        <p>SellersHub Express</p>
        <p>Return Policy</p>
      </span>
      <span class="info3">
        <h3 style="color: #02796F;">Kaiglo Social</h3>
      </span>
      <span class="info4">
        <h3 style="color: #02796F;">Make money with us</h3>
        <p>Sell on SellersHub</p>
        <p>Become an Affiliate Partner</p>
      </span>
      <span class="info5">
        <h3 style="color: #02796F;">Download our Mobile App!</h3>
        <img style="height: 30px; margin-right: 2px;" src="../../../../assets/img/google@@2x.png" alt="">
        <img style="height: 30px;" src="../../../../assets/img/apple@@2x.png" alt="">
      </span>
    </div>
    <footer>
      <p>
        Copyright &copy; 2021 SELLERSHUB STORES LIMITED. All Rights Resrved,
        user Agreement, <a style="color: #4186D9; text-decoration: none;" href="#">Privacy and Cookies</a>
      </p>
    </footer>
  </div>
</body>
